/hello-world/hello-world/bin
/hello-world/hello-world/obj
/PosOrNeg/PosOrNeg/bin
/PosOrNeg/PosOrNeg/obj
/EvenorOdd/EvenorOdd/obj
/EvenorOdd/EvenorOdd/bin
/EvenOrOdd_PosOrNeg/EvenOrOdd_PosOrNeg/bin
/EvenOrOdd_PosOrNeg/EvenOrOdd_PosOrNeg/obj
/do-while-for-3/do-while-for-3/bin
/do-while-for-3/do-while-for-3/obj
/do-while-for-4/do-while-for-4/bin
/do-while-for-4/do-while-for-4/obj
/do-while-for-5/do-while-for-5/bin
/do-while-for-5/do-while-for-5/obj
/Toistorakenne-Jatkuu-1/Toistorakenne-Jatkuu-1/obj
/Toistorakenne-Jatkuu-1/Toistorakenne-Jatkuu-1/bin
/Toistorakenne-jatkuu-2/Toistorakenne-jatkuu-2/obj
/Toistorakenne-jatkuu-2/Toistorakenne-jatkuu-2/bin
/Toistorakenne-Jatkuu-3/Toistorakenne-Jatkuu-3/bin
/Toistorakenne-Jatkuu-3/Toistorakenne-Jatkuu-3/obj
/Toistorakenne-Jatkuu-4/Toistorakenne-Jatkuu-4/obj
/Toistorakenne-Jatkuu-4/Toistorakenne-Jatkuu-4/bin
/Toistorakenne-Jatkuu-5/Toistorakenne-Jatkuu-5/obj
/Toistorakenne-Jatkuu-5/Toistorakenne-Jatkuu-5/bin
/Toistorakenne-Jatkuu-6/Toistorakenne-Jatkuu-6/obj
/Toistorakenne-Jatkuu-6/Toistorakenne-Jatkuu-6/bin