/hello-world/hello-world/bin
/hello-world/hello-world/obj
/PosOrNeg/PosOrNeg/bin
/PosOrNeg/PosOrNeg/obj
/EvenorOdd/EvenorOdd/obj
/EvenorOdd/EvenorOdd/bin
/EvenOrOdd_PosOrNeg/EvenOrOdd_PosOrNeg/bin
/EvenOrOdd_PosOrNeg/EvenOrOdd_PosOrNeg/obj